@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Raleway:ital,wght@0,300;1,200&family=Roboto:ital,wght@0,400;0,900;1,100;1,400;1,500;1,700&display=swap');


*, *::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #007ced;
    /* background: linear-gradient(to right, #fff000 0%, #000fff 100%); */
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgb(134, 134, 134);
  border-radius: 10px;
}

.font {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fff;
}

.total {
  width: 90%;
  height: 100%;
  background-color: #222222;
  margin: auto;
  border-radius: 20px;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  margin-top: 4%;
}

  
.burger-nav{
  background: transparent;
  color: rgb(134, 134, 134);
  display: flex;
  justify-content: space-between;
}
.burger-nav .mainMenu{
  display: flex;
  list-style: none;
}
.burger-nav .mainMenu li a{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(134, 134, 134);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  transition: .4s ease;
}
.burger-nav .mainMenu li a:hover{
  background: transparent;
  color: #fff;
}
.burger-nav .openMenu{
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
.burger-nav .mainMenu .closeMenu , .icons i{
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.icons a {
    color: #333;
}
.fa-facebook:hover{color: #166FE5}
.fa-instagram:hover{color: #DD2B7F}
.fa-linkedin:hover{color: #0A66C2}
.fa-github:hover{color: #2EA043}

.burger-nav .logo{
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}

.name-area a{
    display: flex;
    align-items: center;
}

.logo-symbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #7066ff;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
}

.logo-text {
    font-weight: 700;
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 19px;
}
.logo-text span {
    font-weight: 400;
    font-size: 18px;
}

.site-nav ul{
    display: flex;
    list-style: none;
}

.site-nav li {
    padding: 0px 20px;
}

.site-nav ul li select {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Poppins",Helvetica,sans-serif;
    background: rgba(0, 0, 0, .4);
    color: rgb(134, 134, 134);
    transition: .4s;
}

.site-nav ul li select:hover {
    color: #fff;
}

.site-nav ul li a {
    text-decoration: none;
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 0;
    font-style: normal;
    color: rgb(134, 134, 134);
    transition: .4s ease;
}

.site-nav ul li a:hover {
    color: #fff;
}

main {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.my-img img{
  border: 15px solid #444444;
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
.text-wrapper {
  width: 35%;
  font-family: 'Roboto', sans-serif;
}
.title h4 {
  font-size: 16px;
  color: #aaa;
  font-weight: 300;
  margin-bottom: 10px;
}
.title h1 {
  font-family: "Poppins",Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 34px;
  margin-bottom: 10px;
}
.paragraph p {
  font-family: "Poppins",Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.75em;
  color: #d5d5d5;
  margin-bottom: 10px;
}
.cv {
  color: #fff;
  padding: 0.8em 2.1em;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  outline: 0;
  border: 2px solid #007ced;
  background-color: #333;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  transition: .4s ease-in;
  margin-bottom: 0.75em;
  margin-right: 0.25em;
}
.cv:hover {
  background-color: #007ced;
}
.btn-secondary {
  color: #fff;
  background-color: #333;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  padding: 0.8em 2.1em;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #d5d5d5;
  font-size: 1em;
  transition: .4s ease-in;
}
.btn-secondary:hover {
  background-color: #d5d5d5;
  color: #000;
}
.block-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.weDo{
  font-family: "Poppins",Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.75em;
  color: #d5d5d5;
  margin-top: 30px;
  width: 100%;
}
.weDo h2 {
  margin-left: 60px;

}
.copy-writing {
  display: flex;
  margin-top: 30px;
}
.copy-writing i {
  font-size: 33px;
  color: #007ced;
  margin-right: 30px;
}
.paragraph-copy h4{
  font-size: 16px;
  color: #f5f5f5;
  font-family: "Poppins",Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
}
.paragraph-copy p {
  max-width: 504px;
  font-family: "Poppins",Helvetica,sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-facts h2{
  margin-top: 20px;
  margin-left: 60px;
}
.fun-facts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.facts {
  width: 278px;
  height: 193px;
  border-radius: 10px;
  background-color: #333;
  border: 1px solid #444;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: .5s ease-in;
}
.facts:hover {
  margin-bottom: 10px;
}
.happy-clients i {
  color: #007ced;
  font-size: 33px;
  margin-bottom: 15px;
}
.happy-clients h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}
.happy-clients span {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
}
footer {
  width: 100%;
  height: 100%;
  min-height: 40px;
  background-color: #444;
  margin-top: 40px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
}
.footer-nav ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  
}
.footer-nav ul li {
  margin: 0 20px;
}
.footer-nav li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(134, 134, 134);
  font-family: 'Roboto', sans-serif;
  transition: .4s ease;
}
.footer-nav li a:hover {
  color: #fff;
}